<div class="card" style="background-color: #242933; color: #c5c4c4;">
    <div class="card-header">
        <h1 class="h5">{{ title }}</h1>
    </div>
    <div class="card-body dark-card">

        {{ include('question/_form.html.twig', {'form' : form}) }}

    </div>
</div>