{% set hasError = field.vars.errors|length > 0 %}

<div>
    <label>{{ label }}</label>
    {{ form_widget(field, {'attr': {'class': hasError ? 'form-control error' : 'form-control'}}) }}
    <label class="error-label">
        {{ hasError ? field.vars.errors.0.message : '' }}
    </label>
</div>
